body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image {
  position: relative;
  background-position: relative;
  background-size: cover;
  background-repeat: no-repeat;
	background-attachment: fixed; 
  height: 100vh;
}

.image-two {
  max-height: 400px;
}

.image-three {
  max-height: 400px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100%;

}

.img-text {
  color: #66FCF1;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 5px;
  position: absolute;
  top: 30%;
}

.content h4 {
  color: #C5C6C7;
  font-size: 25px;
  letter-spacing: 5px;
  position: relative;
}

/* about section  */

.section {
	text-align: center;
	padding: 50px 80px;
	background-color: #0B0C10;
}

.section-about h2 {
	color: #66FCF1;
	text-align: center;
	font-weight: bold;
  font-size: 25px;
}

.section-about p {
	text-align: center;
	color: #C5C6C7;
  line-height: 30px;
}

.section-about a {
	color: #66FCF1;
	text-decoration: none;
}

.section-about a:hover {
	background-color: white;
	color: black;
	text-decoration: underline;
}

.ptext {
	position: absolute;
	top: 30%;
	width: 100%;
	text-align: center;
	color: #66FCF1;
	font-size: 47px;
	letter-spacing: 5px;
	font-weight: bold;
	line-height: 50px;
}


.ptext .border {
	color: #45A293;
  top: 40%;
}

.ptext p {
	background: rgba(2,2,2,0.3);
  justify-content: center;
}

.section-resume h2 {
	color: #66FCF1;
	font-weight: bold;
}

.section-resume h5 a {
	color: #66FCF1;
	text-decoration: none;
}

.section-resume a:hover {
	background-color: #66FCF1;
	color: black;
	text-decoration: underline;
}

.resume h3 {
	text-align: left;
	color: #66FCF1;
	font-size: 20px;
}

.resume ul {
	color: #C5C6C7;
	list-style: circle;
}

.resume li {
	text-align: left;
	color: #C5C6C7;
}

.resume h4 {
	font-size: 15px; 
	color: #C5C6C7;
	text-align: left;
	text-decoration: underline;
}

.section-resume .propic img {
	max-height: 400px;
	border-radius: 50%;
	float: right;
}